header {
    padding: 0.1em;
}

.menu {
    width: 73%;
    border-radius: 20px;
    margin: auto;
    border-color: black;
    border: solid;
    border-color: #93a1a1;
    background: #fdf6e3;
    text-align: center;
    box-shadow: 5px 5px 20px;
}

div#module-container {
    box-sizing: border-box;

    width: 75%;
    margin: 1em auto;
    padding: 1em;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

div.module {
    background: #fdf6e3;
    border: solid;
    border-color: #93a1a1;
    border-radius: 10px 10px 0px 0px;
    text-align: center;

    box-shadow: 5px 5px 20px;
}

.module-title {
    text-align: center;
    margin: 0.7em auto;
}

hr {
    color: black;
}

li {
    list-style: none;
}
