header {
    padding: 0.1em;
}

body {
    background: #002b36;
}
h1, h2, h3, h4, h5, h6, p, label {
    color: #93a1a1;
}

.titlebar {
    width: 73%;
    border-radius: 20px;
    margin: auto;
    border-color: black;
    border: solid;
    border-color: #93a1a1;
    background: #073642;
    text-align: center;
    box-shadow: 5px 5px 20px;
}

div#module-container {
    box-sizing: border-box;

    width: 75%;
    margin: 1em auto;
    padding: 1em;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

div.module {
    background: #073642;
    border: solid;
    border-color: #93a1a1;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;

    box-shadow: 5px 5px 20px;
}

div.module footer {
    flex: 0 0 3em;
}

div.module footer button {
    margin: 0.5em;
}

div.module .content {
    flex: 1 1 auto;
}

div.module header {
    flex: 0 0 3em;
}
/* hr breaks in flexbox without this styling */
div.module hr {
    margin: 0px;
  margin-left: 0;
  margin-right: 0;
}
.module-title {
    text-align: center;
    margin: 0.7em auto;
}

hr {
    color: black;
}

li {
    list-style: none;
}

.slot {
  width: 100px;
  height: 35px;
  margin: 10px;
  padding: 15px;
  border: 1px solid black;
}

.errors {
    color: red;
}

a {
    color: #268bd2;
}

.todo-item {
    color: #cb4b16;
}
